/*
	Featured Content Slider
	by: Chris Coyier
*/

body {
	margin: 0px;
	padding: 0px;
}

					  				  



/*
	PAGE STRUCTURE
*/
#page-wrap 									{
	position: relative;
	float: left;
}

#main-photo-slider{
	width: 720px;
	-webkit-box-shadow: #A4A4A4 0px 0px 5px;
	-moz-box-shadow: #A4A4A4 0px 0px 5px;
	box-shadow: #A4A4A4 0px 0px 5px;
	border: 10px solid #FFFFFF;
}

/*
	SLIDER
*/
.slider-wrap								{
	width: 740px;
	position: relative;
}			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 720px; height: 380px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 720px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{
	padding:5px;
	-webkit-box-shadow: #A4A4A4 0px 0px 5px;
	-moz-box-shadow: #A4A4A4 0px 0px 5px;
	box-shadow: #A4A4A4 0px 0px 5px;
	margin-right: 5px;
}
#movers-row									{ margin: 10px 0 0 -10px; }
#movers-row a								{
	width: 100px;
	float: left;
	margin-left: 10px;
}
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(../../img/front/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{
	display: block;
	width: 100px;
	position: relative;
	/*margin-top: -14px;*/
	/*padding-top: 23px;*/
	z-index: 0;
}
.active-thumb 								{ background: transparent url(../../img/front/icon-uparrowsmallwhite.png) top center no-repeat; }
