@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	background-color:#000;
	background-image: url(../../img/front/bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-position:0px 68px;
}
#contain {
	width: 750px;
	left:50%;
	margin-left: -252px;
	position: absolute;
	z-index: 2;
	top: 105px;
}
#container {
	float: left;
	width: 750px;
	position: relative;
	background-image: url(../../img/front/menu-top.png);
	background-repeat: repeat;
	padding-bottom: 10px;
	min-height:800px;
}
.header-container {
	float: left;
	width: 100%;
	z-index:2;
	height:935px;
	position:relative;
}
.header {
	float: left;
	width: 995px;
	position:relative;
	left:50%;
	margin-left: -497px;
}
.header-left {
	float: left;
	width: 230px;
}
.header-right {
	float: left;
	width: 750px;
	margin-left: 15px;
}
.header-left-top {
	float: left;
	height: 165px;
	width: 230px;
	background-image: url(../../img/front/logo-bg.png);
	background-repeat: no-repeat;
	position: relative;
	z-index: 4;
}
.logo {
	float: left;
	margin-top: 28px;
	margin-left: 15px;
}
.header-left-top-menu {
	float: left;
	height: 30px;
	width: 230px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-align:center;
	margin-top:27px;
}
.header-left-top-menu a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
#footer {
	background-color: #000;
	height: 45px;
	width: 100%;
	position: relative;
	z-index:2;
	float:left;
}
.header-left-pull {
	float: left;
	text-align: center;
	width: 230px;
	margin-top: -5px;
	position: relative;
	z-index: 3;
}
.menu-left {
	position:absolute;
	width:205px;
	margin-left:12px;
	float:left;
	display:none;
	top:0;
}
.discoount {
	background-image: url(../../img/front/menu-top.png);
	float: left;
	width: 205px;
	padding-top: 5px;
	padding-bottom:10px;
}
.menu {
	background-image: url(../../img/front/menu-top.png);
	background-repeat: repeat;
	float: left;
	width: 205px;
	padding-bottom: 15px;
}
.menu a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 33px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	float: left;
	height: 33px;
	width: 187px;
	text-align:left;
	padding-left:18px;
	padding-top:1px;
	border-bottom:solid 1px #1E1E20;
}
.menu a:hover {
	color: #EFC519;
	border-bottom:solid 1px #fff;
	border-top:solid 1px #fff;
	line-height: 33px;
	height: 33px;
	padding-top:0px;
}
.menu a.current {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 33px;
	font-weight: bold;
	color: #EFC519;
	text-decoration: none;
	float: left;
	height: 33px;
	width: 187px;
	text-align:left;
	padding-left:18px;
	border-bottom:solid 1px #fff;
	border-top:solid 1px #fff;
	padding-top:0px;
}
.photo-album {
	float: left;
	width: 205px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(../../img/front/menu-bg.png);
	background-repeat: repeat;
}
.photo-album-gallery {
	float: left;
	width: 205px;
	text-align: center;
}
.photo-album-tit {
	text-align: center;
	float: left;
	width: 205px;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.left-ad {
	background-image: url(../../img/front/left-ad-bg.png);
	background-repeat: repeat;
	float: left;
	text-align:left;
	width: 165px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 40px;
	border-bottom:solid 1px #FFF;
	border-top:solid 1px #FFF;
}
.pull-back {
	float: left;
	width: 205px;
}
.header-right-top {
	float: left;
	width: 750px;
}
.buttons {
	float: left;
	margin-top: 18px;
}
.facebook {
	float: left;
	margin-top: 24px;
	margin-left: 75px;
}
.sponser {
	float: right;
}
.slogan {
	float: left;
	margin-top: 28px;
	margin-left: 60px;
}
.buttons a {
	float: left;
	margin-right: 10px;
}
.header-right-bottom {
	float: left;
	width: 750px;
	margin-top: 5px;
}
.header-right-bottom-in {
	float: left;
	width: 750px;
	margin-top: 8px;
	background-image: url(../../img/front/basket-bg.png);
	background-repeat: repeat;
	height: 23px;
}
.main-buttons {
	float: left;
}
.basket {
	float: right;
	background-color: #FFF;
	height: 85px;
	width: 190px;
	margin-top: 4px;
}
.main-buttons img {
	float: left;
	margin-right: 21px;
}
.menu-stores {
	display:none;
	width:111px;
	position: absolute;
	margin-top:82px;
	margin-left:6px;
}
.menu-stores-arw {
	float: left;
	width: 111px;
}
.menu-stores-links {
	float: left;
	width: 109px;
	margin-left:1px;
	background-color: #E4EEF6;
	padding-bottom: 15px;
}
.menu-stores-links a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	float: left;
	width: 111px;
	margin-top: 4px;
	margin-bottom: 4px;
	text-align: center;
}
.menu-stores-links a:hover {
	color: #AC1816;
}
.basket-user-name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #111;
	float: left;
	margin-top: 7px;
	margin-left: 7px;
}
.basket-user-name-in {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #111;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}
.basket-details {
	float: left;
	width: 100%;
	margin-top: 24px;
}
.basket-details-right {
	float: right;
	margin-right: 10px;
}
.basket-details-left {
	float: left;
	width: 130px;
}
.basket-view {
	float: left;
	width: 100%;
	text-align: right;
}
.basket-signout {
	float: left;
	width: 100%;
	text-align: right;
	margin-top: 2px;
}
.basket-view a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #111;
	text-decoration: none;
}
.basket-signout a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #111;
	text-decoration: underline;
}
.basket-view-in {
	float: left;
	width: 150px;
	margin-left: 300px;
	margin-top: 2px;
}
.basket-signout-in {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
.basket-view-in a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #111;
	text-decoration: none;
	line-height: 18px;
	background-image: url(../../img/front/basket-in.png);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	padding-left: 27px;
	height: 18px;
}
.basket-signout-in a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #111;
	text-decoration: underline;
}
.footer-container {
	width: 995px;
	left:50%;
	margin-left: -497px;
	position: absolute;
	z-index: 2;
}
.footer-left {
	float: left;
}
.footer-right {
	float: right;
	height: 45px;
	width: 662px;
	background-image: url(../../img/front/footer-bg.jpg);
	background-repeat: repeat-x;
	padding-right: 44px;
	padding-left: 44px;
}
.footer-menu {
	float: left;
	width: 662px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-top:5px;
	text-decoration: none;
}
.footer-menu a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	float: left;
}
.footer-bottom {
	float: left;
	width: 662px;
	margin-top: 8px;
}
.footer-bottom-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	float: left;
}
.footer-bottom-right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	float: right;
}
.footer-bottom-right a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.footer-sper {
	float: left;
	margin-right: 8.5px;
	margin-left: 8.5px;
}
.product-item {
	float: left;
	height: 250px;
	width: 202px;
	position: relative;
	margin-top: 12px;
	margin-left: 12px;
}
.product-item-tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	width: 202px;
	font-weight: bold;
	margin-top: 14px;
	position: relative;
}
.product-item-price {
	margin-top: 140px;
	margin-left: -7px;
	position: absolute;
	background-image: url(../../img/front/price-bg.png);
	background-repeat: no-repeat;
	height: 27px;
	width: 97px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #373737;
	text-decoration: none;
	text-align: left;
	padding-top: 18px;
	padding-left: 20px;
}
.product-item-photo {
	width: 202px;
	position: absolute;
	background-image: url(../../img/front/product-img.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 210px;
}
.product-ad {
	float: left;
	height: 250px;
	width: 300px;
	margin-top: 12px;
	margin-left: 12px;
}
.product-view-ad {
	float: left;
	height: 250px;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
}
.product-more {
	position: absolute;
	top: 500px;
	right: 25px;
}
.product-prev {
	float: left;
	height: 258px;
	width: 73px;
	position: relative;
	padding-top: 220px;
	padding-left: 25px;
}
.product-menu {
	float: left;
	width: 730px;
	margin-left:10px;
	margin-top:15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.product-large {
	float: left;
	width: 730px;
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
}
.product-menu a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.img-border {
	border:solid 10px #4C9AAE;
}
.pro-large-price {
	background-image: url(../../img/front/pro-large-price.png);
	background-repeat: no-repeat;
	height: 54px;
	width: 407px;
	position: absolute;
	margin-top: 177px;
	margin-left: -7px;
}
.price-value {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #373737;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 85px;
	margin-left: 10px;
	margin-top: 18px;
}
.price-tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	float: left;
	margin-top: 12px;
	margin-left: 30px;
}
.product-medium {
	float: left;
	height: 250px;
	width: 422px;
	margin-top: 10px;
	margin-left: 10px;
}
.product-medium-desc {
	margin-top: 187px;
	margin-left: 10px;
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 20px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-image: url(../../img/front/pro-medium-tit.png);
	background-repeat: repeat;
}
.product-small {
	float: left;
	height: 230px;
	width: 220px;
	margin-top: 10px;
	margin-left: 8px;
}
.product-small-photo {
	float: left;
	width: 220px;
}
.product-small-dtails {
	float: left;
	height: 90px;
	width: 220px;
	background-color: #0F1E23;
	border-top:solid 4px #4C9AAE;
}
.product-small-tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 220px;
	margin-top: 2px;
}
.product-small-price {
	float: left;
	width: 220px;
	margin-top: 30px;
}
.small-price-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
	float: left;
	margin-left: 10px;
}
.small-price-right {
	float: right;
	margin-right: 10px;
}
.small-price-right a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #2DEDFA;
	text-decoration: none;
}
.product-gallery {
	float: left;
	width: 720px;
	margin-top: 15px;
	margin-left: 15px;
}
.product-info {
	float: left;
	width: 720px;
	margin-top: 15px;
	margin-left: 15px;
}
.product-info-top {
	float: left;
	width: 720px;
}
.product-info-top-left {
	float: left;
	width: 500px;
}
.product-info-top-right {
	float: right;
	width: 155px;
}
.product-info-tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	float: left;
	width: 100%;
}
.product-info-desc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
	float: left;
	width: 100%;
	margin-top: 10px;
}
.product-info-photos {
	float: left;
	width: 100%;
	margin-top: 15px;
}
.product-share {
	text-align: center;
	float: left;
	width: 100%;
}
.create {
	text-align: center;
	float: left;
	height: 31px;
	width: 155px;
	margin-top: 10px;
	background-image: url(../../img/front/create.jpg);
	background-repeat: no-repeat;
}
.create a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 31px;
	font-weight: bold;
	color: #2F3336;
	text-decoration: none;
}
.product-info-bottom {
	float: left;
	width: 720px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.info-item {
	float: left;
	width: 275px;
	margin-top: 8px;
	margin-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
}
.contact-left {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
}
.contact-right {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
